<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title></title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="main.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  </head>
  <body>
    <nav>
      <a href="/signup"><i class="fas fa-user-plus"></i> Sign Up</a>
      <a href="/login"><i class="fas fa-sign-in-alt"></i> Sign In</a>
    </nav>
    <form method="post" class="userForm" action="/register" name="signup">
      <h1>EasyBook</h1>
      <p id="errorMessage"><% if(message) { %><%= message %><% } %></p>
      <h2>Create Account</h2>
      Account Type:
      <select name="type">
        <option value="student">Student</option>
        <option value="teacher">Teacher</option>
      </select>
      <label for="">First Name</label>
      <input type="text" name="firstName">
      <label for="">Last Name</label>
      <input type="text" name="lastName">
      <label for="">Email Address</label>
      <input type="text" name="email">
      <label for="" class="grade">Grade</label>
      <select name="grade" class="grade">
        <option value="">Select</option>
        <option value="1">1st</option>
        <option value="2">2nd</option>
        <option value="3">3rd</option>
        <option value="4">4th</option>
        <option value="5">5th</option>
        <option value="6">6th</option>
        <option value="7">7th</option>
        <option value="8">8th</option>
        <option value="9">9th</option>
        <option value="10">10th</option>
        <option value="11">11th</option>
        <option value="12">12th</option>
      </select>
      <label for="">Password</label>
      <input type="password" name="password">
      <label for="">Confirm Password</label>
      <input type="password" name="confirm">
      <input type="submit" name="submitBtn" value="Sign Up" class="uibutton">
      <a href="/login">Login</a>
    </form>
    <script src="signup.js"></script>
  </body>
</html>